**__pycache__
share
install-pyenv-win.ps1
lib
Scripts
inlcude
bin
pyvenv.cfg
etc
*.prof
Cargo.lock
target
images
results*
**/out.txt
**/.DS_Store
**.pkl
figures/**
**.log
serde_json-1.0.92
brap
rust/**/target

**/data_extended/**/C100